@model JobTrack.Models.JobCoversheet.JobCoversheetData


<div class="modal fade" id="modal-jobcoversheet" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#009688;color:white">
                <h5 class="modal-title" id="confirmModalLabel">Add New Coversheet</h5>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="formJobCoversheet">
                    <div class="row">
                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Coversheet Number", Name = "CoversheetNumber", Value = Model.CoversheetNumber })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Product ID", Name = "BPSProductID", Value = Model.BPSProductID })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Service Number", Name = "ServiceNumber", Value = Model.ServiceNumber })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Task Number", Name = "TaskNumber", Value = Model.TaskNumber })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Editor", Name = "Editor", Value = Model.Editor })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Charge Code", Name = "ChargeCode", Value = Model.ChargeCode })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Target Press Date", Name = "TargetPressDate", Value = Model.TargetPressDate })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Task Type", Name = "TaskType", Value = Model.TaskType })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Guide Card", Name = "GuideCard", Value = Model.GuideCard })
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Further Instructions", Name = "FurtherInstructions", Value = Model.FurtherInstructions })

                            @if (TempData["UpdateTypes"] != null)
                            {
                                @Html.Partial("CustomControls/_DropdownListView", new JobTrack.Models.FormFieldModel { Label = "Update Types", Name = "UpdateType", TempDataName = "UpdateTypes", Id = "UpdateType" })
                            }

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "General Data", Name = "GeneralData", Value = Model.GeneralData })

                            <div class="form-group">
                                <div class="col-sm-12 checkbox-wrapper border" style="padding-top: 5px">
                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check1", Value = "1", Label = "Commentary" })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check2", Value = "2", Label = "Leg Ammendments" })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check3", Value = "3", Label = "New Leg" })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check4", Value = "4", Label = "Predicaments/Prac Notes" })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check5", Value = "5", Label = "Leg Ref Check", })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check6", Value = "6", Label = "TOC", })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check7", Value = "7", Label = "TOS", })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check8", Value = "8", Label = "Reprints", })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check9", Value = "9", Label = "Fascicle Insertion", })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check10", Value = "10", Label = "Graphic-Link", })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check11", Value = "11", Label = "Graphic-Embed", })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check12", Value = "12", Label = "Handtooling", })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check13", Value = "13", Label = "Non-Content", })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check14", Value = "14", Label = "Sample Pages", })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "severity[]", Id = "check15", Value = "15", Label = "Complex Task", })
                                </div>
                            </div>

                            @Html.Partial("CustomControls/_TextareaView", new JobTrack.Models.FormFieldModel { Label = "Special Instruction", Name = "SpecialInstruction", Value = Model.SpecialInstruction })
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Coding Due Date", Name = "CodingDueDate",
                               Value = Model.CodingDueDate.HasValue ? Model.CodingDueDate.Value.ToString("yyyy-MM-dd") : "TBD",
                               Class = Model.CodingDueDate.HasValue ? "datepicker" : "" })

                            @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "XMLEditing", Name = "XMLEditing", Value = Model.XMLEditing })

                            <hr />

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Online Due Date", Name = "OnlineDueDate",
                               Value = Model.OnlineDueDate.HasValue ? Model.OnlineDueDate.Value.ToString("yyyy-MM-dd") : "TBD",
                               Class = Model.OnlineDueDate.HasValue ? "datepicker" : "" })

                            @Html.Partial("CustomControls/_DropdownListView", new JobTrack.Models.FormFieldModel { Label = "Online Status", Name = "OnlineStatus", TempDataName = "OnlineStatuses", Id = "OnlineStatus" })
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Correction Due Date", Name = "CorrectionDueDate", 
                                Value = Model.CorrectionDueDate.HasValue ? Model.CorrectionDueDate.Value.ToString("yyyy-MM-dd") : "TBD",
                                Class = Model.CorrectionDueDate.HasValue ? "datepicker" : "" })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Correction Data", Name = "CorrectionData", Value = Model.CorrectionData })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Date Created", Name = "DateCreated", Value = Model.DateCreated.ToString("yyyy-MM-dd"), Class = "datepicker" })
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSave">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#UpdateType").on("change", function () {
            var url = '@Url.Action("GetTaskType", "Coversheet")' + "?selectedItem=" + encodeURIComponent($(this).val());
            var url2 = '@Url.Action("GetTATCoding", "Coversheet")' + "?selectedItem=" + encodeURIComponent($(this).val()) + "&datecreated=" + $("#DateCreated").val();
            var url3 = '@Url.Action("GetTATOnline", "Coversheet")' + "?selectedItem=" + encodeURIComponent($(this).val()) + "&datecreated=" + $("#DateCreated").val();

            GotoControllerAsync(url, 'POST', null, false, 'json', function (response) {
                $('#TaskType').val(response.replace(/['"]+/g, ''));
            });

            GotoControllerAsync(url2, 'POST', null, false, 'json', function (response) {
                $('#CodingDueDate').val(response.replace(/['"]+/g, ''));
            });

            GotoControllerAsync(url3, 'POST', null, false, 'json', function (response) {
                $('#OnlineDueDate').val(response.replace(/['"]+/g, ''));
            });
        });

        $('.datepicker').datepicker({
            todayHighlight: true,
            format: 'yyyy-mm-dd',
            clearBtn: true,
            autoclose: true
        });
    });
</script>