@model JobTrack.Models.JobCoversheet.JobCoversheetData


<div class="modal fade" id="modal-jobcoversheet" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#009688;color:white">
                <h5 class="modal-title" id="confirmModalLabel">Add New Coversheet</h5>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="alert alert-danger fade show" id="ErrorMessage">
                    <span>Required fields are missing.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="formJobCoversheet">
                    <div class="row">
                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Coversheet Number", Name = "CoversheetNumber", Value = Model.CoversheetNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Product ID", Name = "BPSProductID", Value = Model.BPSProductID, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Service Number", Name = "ServiceNumber", Value = Model.ServiceNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Task Number", Name = "TaskNumber", Value = Model.TaskNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Editor", Name = "Editor", Value = Model.Editor, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Charge Code", Name = "ChargeCode", Value = Model.ChargeCode, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Target Press Date", Name = "TargetPressDate", Value = Model.TargetPressDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Task Type", Name = "TaskType", Value = Model.TaskType, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Guide Card", Name = "GuideCard", Value = Model.GuideCard, IsRequired = true })
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Further Instructions", Name = "FurtherInstructions", Value = Model.FurtherInstructions, IsRequired = true })

                            @if (TempData["UpdateTypes"] != null)
                            {
                                @Html.Partial("CustomControls/_DropdownListView", new JobTrack.Models.FormFieldModel { Label = "Update Types", Name = "UpdateType", TempDataName = "UpdateTypes" })
                            }

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "General Data", Name = "GeneralData", Value = Model.GeneralData, IsRequired = true })

                            <div class="form-group">
                                <div class="col-sm-12 checkbox-wrapper border" style="padding-top: 5px">
                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "Commentary", Label = "Commentary", Value = false, DontDisplay = true })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "LegAmmendments", Label = "Leg Ammendments", Value = false, DontDisplay = true })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "NewLeg", Label = "New Leg", Value = false, DontDisplay = true })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "Predicaments", Label = "Predicaments/Prac Notes", Value = false, DontDisplay = true })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "LegRefCheck", Label = "Leg Ref Check", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "TOC", Label = "TOC", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "TOS", Label = "TOS", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "Reprints", Label = "Reprints", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "FascicleInsertion", Label = "Fascicle Insertion", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GraphicLink", Label = "Graphic-Link", Value = false, DontDisplay = true })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GraphicEmbed", Label = "Graphic-Embed", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "Handtooling", Label = "Handtooling", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "NonContent", Label = "Non-Content", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "SamplePages", Label = "Sample Pages", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "ComplexTask", Label = "Complex Task", Value = false })
                                </div>
                            </div>

                            @Html.Partial("CustomControls/_TextareaView", new JobTrack.Models.FormFieldModel { Label = "Special Instruction", Name = "SpecialInstruction", Value = Model.SpecialInstruction })
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Coding Due Date", Name = "CodingDueDate",
                               Value = Model.CodingDueDate.HasValue ? Model.CodingDueDate.Value.ToString("yyyy-MM-dd") : "TBD",
                               Class = Model.CodingDueDate.HasValue ? "datepicker" : "",
                               IsReadOnly = true })

                            @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "XMLEditing", Name = "XMLEditing", Value = Model.XMLEditing })

                            <hr />

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Online Due Date", Name = "OnlineDueDate",
                               Value = Model.OnlineDueDate.HasValue ? Model.OnlineDueDate.Value.ToString("yyyy-MM-dd") : "TBD",
                               Class = Model.OnlineDueDate.HasValue ? "datepicker" : "",
                               IsReadOnly = true })

                            @Html.Partial("CustomControls/_DropdownListView", new JobTrack.Models.FormFieldModel { Label = "Online Status", Name = "OnlineStatus", TempDataName = "OnlineStatuses", Id = "OnlineStatus" })
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Correction Due Date", Name = "CorrectionDueDate",
                               Value = Model.CorrectionDueDate.HasValue ? Model.CorrectionDueDate.Value.ToString("yyyy-MM-dd") : "TBD",
                               Class = Model.CorrectionDueDate.HasValue ? "datepicker" : "",
                               DontDisplay = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Correction Data", Name = "CorrectionData", 
                               Value = Model.CorrectionData, 
                               DontDisplay = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Date Created", Name = "DateCreated", 
                               Value = Model.DateCreated.ToString("yyyy-MM-dd"), 
                               Class = "datepicker", 
                               IsReadOnly = true })
                        </div>
                    </div>

                    <input type="hidden" name="CoversheetTier" value="@Model.CoversheetTier" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="onclickSaveCoversheet();" id="btnSave">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#ErrorMessage').hide();

        $("#UpdateType").on("change", function () {
            var url = '@Url.Action("GetTaskType", "Coversheet")' + "?selectedItem=" + encodeURIComponent($(this).val());
            var url2 = '@Url.Action("GetTATCoding", "Coversheet")' + "?selectedItem=" + encodeURIComponent($(this).val()) + "&datecreated=" + $("#DateCreated").val();
            var url3 = '@Url.Action("GetTATOnline", "Coversheet")' + "?selectedItem=" + encodeURIComponent($(this).val()) + "&datecreated=" + $("#DateCreated").val();

            GotoControllerAsync(url, 'POST', null, false, 'json', function (response) {
                $('#TaskType').val(response.replace(/['"]+/g, ''));
            });

            GotoControllerAsync(url2, 'POST', null, false, 'json', function (response) {
                $('#CodingDueDate').val(response.replace(/['"]+/g, ''));
            });

            GotoControllerAsync(url3, 'POST', null, false, 'json', function (response) {
                $('#OnlineDueDate').val(response.replace(/['"]+/g, ''));
            });
        });

        $('.datepicker').datepicker({
            todayHighlight: true,
            format: 'yyyy-mm-dd',
            clearBtn: true,
            autoclose: true
        });
    });

    function onclickSaveCoversheet() {
        let isValid = validateForm('formJobCoversheet');
        if (isValid) {
            submitForm('formJobCoversheet', '/JobCoversheet/AddNewJobCoversheet', null, function (response) {
                if (response.IsSuccess) {

                    refreshTable('tblDataCoversheet');
                    alert('Add new coversheet successful.');
                    $('#modal-jobcoversheet').modal('hide');
                    setTimeout(function () {
                        $('#btnNavProductCoversheet').click();
                    }, 1000);
                }
                else
                    alert("Error: " + response.ErrorMessage);
            });
        }
    }
</script>