@model IEnumerable<JobTrack.Models.Manuscript.ManuscriptData>

@{ ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_JobTrackLayout_Coding.cshtml"; }

<script src="~/Scripts/src/custom_index.js"></script>
<link href="~/temp/css/custom_datatable.css" rel="stylesheet" />
<style type="text/css">
    /*table icons*/
    td.details-control, td.details-control2 {
        background: url('../Image/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control, tr.shown td.details-control2 {
        background: url('../Image/details_close.png') no-repeat center center;
        cursor: pointer;
    }

    td.details-control1, td.details-control3 {
        background: url('../Image/details_info.png') no-repeat center center;
        cursor: pointer;
    }

    td.details-control4 {
        background: url('../Image/details_link.png') no-repeat center center;
        cursor: pointer;
    }

    .card-body {
        padding: 15px !important;
    }
</style>

<div class="content-body">
    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top:10px;">
            @ViewBag.ErrorMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="container-fluid mt-3">
        <div class="row">
            <!-- my jobs -->
            <div class="col-lg-2 col-sm-3" style="cursor: pointer" onclick="onclickJobType('myJobs')">
                <div class="card gradient-9">
                    <div class="card-body">
                        <h3 class="card-title text-white">My Jobs</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.MyJobs</h2>
                            <p class="text-white mb-0"></p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                    </div>
                </div>
            </div>

            <!-- open jobs -->
            <div class="col-lg-2 col-sm-3" style="cursor: pointer" onclick="onclickJobType('OpenJobs')">
                <div class="card gradient-7">
                    <div class="card-body">
                        <h3 class="card-title text-white">Open Jobs</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.OpenJobs</h2>
                            <p class="text-white mb-0"></p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                    </div>
                </div>
            </div>

            <!-- late jobs -->
            <div class="col-lg-2 col-sm-3" style="cursor: pointer" onclick="onclickJobType('LateJobs')">
                <div class="card gradient-3">
                    <div class="card-body">
                        <h3 class="card-title text-white">Late Jobs</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.LateJobs</h2>
                            <p class="text-white mb-0"></p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                    </div>
                </div>
            </div>

            <!-- revised jobs -->
            @*<div class="col-lg-2 col-sm-3" style="cursor: pointer" onclick="onclickJobType('OpenJobs')">
                    <div class="card gradient-7">
                        <div class="card-body">
                            <h3 class="card-title text-white">Revised Press Date</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white">@ViewBag.RevisedJobs</h2>
                                <p class="text-white mb-0"></p>
                            </div>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                        </div>
                    </div>
                </div>*@

            <!-- due jobs -->
            <div class="col-lg-2 col-sm-3" style="cursor: pointer" onclick="onclickJobType('DueJobs')">
                <div class="card gradient-2">
                    <div class="card-body">
                        <h3 class="card-title text-white">Due Jobs</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.DueJobs</h2>
                            <p class="text-white mb-0"></p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                    </div>
                </div>
            </div>

            <!-- cancelled jobs -->
            <div class="col-lg-2 col-sm-3" style="cursor: pointer" onclick="onclickJobType('CancelledJobs')">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h3 class="card-title text-white">Cancelled Jobs</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.CancelledJobs</h2>
                            <p class="text-white mb-0"></p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-stop"></i></span>
                    </div>
                </div>
            </div>

            <!-- completed jobs -->
            <div class="col-lg-2 col-sm-3" style="cursor: pointer" onclick="onclickJobType('CompletedJobs')">
                <div class="card bg-success">
                    <div class="card-body">
                        <h3 class="card-title text-white">Completed Jobs</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">@ViewBag.CompleteJobs</h2>
                            <p class="text-white mb-0"></p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-check-square"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="properties2">
                                    <div class="container-fluid px-0">
                                        <div class="row">
                                            <div class="col text-center align-items-center text-black-50">
                                                <h3>My Jobs</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <section id="MainTable">

                                    <!-- Nav tabs -->
                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs container" role="tablist" id="myTabs1">
                                            <li class="nav-item">
                                                <a class="nav-link disabled" data-toggle="tab" href="#ProductJobs"><span><i class="fa fa-briefcase"></i>&nbsp;&nbsp;Manuscript</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#ProductCoversheet"><span><i class="fa fa-paperclip"></i>&nbsp;&nbsp;Task | Coding</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link disabled" data-toggle="tab" href="#ProductSTP"><span><i class="fa fa-print"></i>&nbsp;&nbsp;Send To Print</span></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Tab panes -->
                                    <div class="tab-content tabcontent-border">
                                        <div class="tab-pane fade show" id="ProductJobs" role="tabpanel">
                                            <div class="card bg-light">
                                                @*<div class="d-flex p-3">
                                                        <div class="p-2">
                                                            <button id="btnAddNew" class="btn btn-success btn-circle float-right"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add New</button>
                                                        </div>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade show active" id="ProductCoversheet" role="tabpanel">
                                        <div class="card bg-light">
                                            <div class="container-fluid mb-3">

                                                <!-- table coversheet -->
                                                <table class="display nowrap" id="tblDataCoversheet" style="width: 100%;">
                                                    <thead class="table-header-footer">
                                                        <tr>
                                                            <th></th>
                                                            <th>CoversheetID</th>
                                                            <th>Tier</th>
                                                            <th>Product</th>
                                                            <th>Service Number</th>
                                                            <th>Latest Task Number</th>
                                                            <th>Coding Status</th>
                                                            <th>PDF QA Status</th>
                                                            <th>Online Status</th>
                                                            <th>Date Created</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot class="table-header-footer">
                                                        <tr>
                                                            <th></th>
                                                            <th>CoversheetID</th>
                                                            <th>Tier</th>
                                                            <th>Product</th>
                                                            <th>Service Number</th>
                                                            <th>Latest Task Number</th>
                                                            <th>Coding Status</th>
                                                            <th>PDF QA Status</th>
                                                            <th>Online Status</th>
                                                            <th>Date Created</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="ProductSTP" role="tabpanel">
                                        <div class="table-responsive">
                                            <div class="card bg-light">
                                                <div class="container-fluid mb-3">

                                                    <!-- table STP -->
                                                    <table class="display nowrap" id="tblDataSTP" style="width: 100%;">
                                                        <thead class="table-header-footer table_mainrow">
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th>ID</th>
                                                                <th>Send to Print Number</th>
                                                                <th>Tier</th>
                                                                <th>Product ID</th>
                                                                <th>Service Number</th>
                                                                <th>Current Task</th>
                                                                <th>Send to Print Status</th>
                                                                <th>Target Press Date</th>
                                                                <th>Actual Press Date</th>
                                                                <th>Conso Highlight Done</th>
                                                                <th>Filing Instruction Start</th>
                                                                <th>Filing Instruction Done</th>
                                                                <th>Dummy Filing 1 Start</th>
                                                                <th>Dummy Filing 1 Done</th>
                                                                <th>Dummy Filing 2 Start</th>
                                                                <th>Dummy Filing 2 Done</th>
                                                                <th>UECJ Start</th>
                                                                <th>UECJ Done</th>
                                                                <th>PC1/PC2 Start</th>
                                                                <th>PC1/PC2 Done</th>
                                                                <th>Updating of eBinder Start</th>
                                                                <th>Updating of eBinder Done</th>
                                                                <th>Posting Back to Stable Data Start</th>
                                                                <th>Posting Back to Stable Data Start</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>

<!-- modal for jobcoversheet -->
<div id="modalWrapper"></div>

<!-- modal for coversheet -->
<div id="modalWrapper2"></div>

@section scripts
{
    <script type="text/javascript">
        //TBD
        moment.updateLocale(moment.locale(), { invalidDate: "TBD" });

        // [Coversheet footer]
        $('#tblDataCoversheet tfoot th').each(function () {
            var title = $(this).text();
            if (title != '') {
                $(this).html('<input type="text" placeholder="' + title + '" />');
            }
        });

        // [STP footer]
        $('#tblDataSTP tfoot th').each(function () {
            var title = $(this).text();
            if (title != '') {
                $(this).html('<input type="text" placeholder="' + title + '" />');
            }
        });

        $(document).ready(function () {
            $("#btnAddNew1").click(function () {
                $.ajax({
                    "url": "@Url.Action("AddNewCoversheet", "Coversheet")",
                    contentType: "application/json; charset=utf-8",
                    data: "",
                    success: function (data) {

                        $('#modalWrapper').html(data);

                        $('#AddNewCoversheetModal').modal('show');
                    }
                });
            });

            loadTableCoversheet();
        });

        function loadTableCoversheet() {
            let tableCoversheet = $('#tblDataCoversheet').DataTable({
                dom: 'Bfrtip',
                ajax: {
                    url: "@Url.Action("GetJobCoversheetData", "JobCoversheet")",
                    type: 'GET',
                    dataType: 'json',
                    dataSrc: ''
                },
                columns: [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    { data: 'JobCoversheetID' },
                    { data: 'CoversheetTier' },
                    { data: 'BPSProductID' },
                    { data: 'ServiceNumber' },
                    { data: 'LatestTaskNumber' },
                    { data: 'CodingStatus' },
                    { data: 'PDFQAStatus' },
                    { data: 'OnlineStatus1' },
                    { data: 'DateCreated' }
                ],
                columnDefs: [
                    //center all data
                    { className: "dt-center", "targets": "_all" },
                    {
                        targets: [1],
                        visible: false,
                        searchable: false
                    },
                    {
                        targets: [9],
                        render: function (data) {
                            return moment(data).format('YYYY/MM/DD');
                        }
                    },
                ],
                buttons: {
                    dom: {
                        button: {
                            tag: 'i',
                            className: ''
                        }
                    },
                    buttons: [
                        {
                            titleAttr: 'Copy',
                            extend: 'copyHtml5',
                            className: 'custom-btn fa fa-clipboard',
                            text: ''
                        },
                        {
                            titleAttr: 'Download as Excel',
                            extend: 'excelHtml5',
                            className: 'custom-btn fa fa-file-excel-o',
                            text: ''
                        },
                        {
                            titleAttr: 'Download as CSV',
                            extend: 'csvHtml5',
                            className: 'custom-btn fa fa-file-text-o',
                            text: ''
                        },
                        {
                            titleAttr: 'Download as PDF',
                            extend: 'pdfHtml5',
                            className: 'custom-btn fa fa-file-pdf-o',
                            text: ''
                        }
                    ]
                },
                initComplete: function () {
                    // Apply the search
                    //scrollx initiator
                    $('#tblDataCoversheet').wrap("<div style='overflow: auto; width: 100%; position: relative;'></div>");
                    //init = false;
                    this.api().columns().every(function () {
                        var that = this;
                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
                },
                createdRow: function (row, data, index) {
                    if (data.extn === '') {
                        let td = $(row).find("td:first");
                        td.removeClass('details-control');
                    }
                },
                rowCallback: function (row, data, index) {
                    //console.log('rowCallback');
                }
            });

            // child row
            $('#tblDataCoversheet tbody').on('click', 'td.details-control', function () {
                let tr = $(this).closest('tr');
                let row = tableCoversheet.row(tr);
                //let rowData = row.data();

                //get index to use for child table ID
                let index = row.index();
                let data = tableCoversheet.row(this).data();
                console.log('job coversheet: ', data);

                if (row.child.isShown()) {
                    // close row
                    row.child.hide();
                    tr.removeClass('shown');
                    //$('#childTableCoversheet' + index2).DataTable().destroy();
                }
                else {
                    // Open this row
                    row.child(generateChildRowForCoversheet(index)).show();

                    $('#childTableCoversheet' + index + ' tfoot th').each(function () {
                        var title = $(this).text();
                        $(this).html('<input type="text" placeholder="' + title + '" />');
                    });

                    var childTableCoversheet = $('#childTableCoversheet' + index).DataTable({
                        dom: 'Bfrtip',
                        ajax: {
                            url: "@Url.Action("GetCoversheetData", "Coversheet")",
                            dataSrc: "",
                            type: "GET",
                            dataType: "json",
                            data: function (d) {
                                d.bpsproductid = data['BPSProductID'];
                                d.servicenumber = data['ServiceNumber'];
                            }
                        },
                        columns: [
                            {
                                "className": 'details-control3',
                                "orderable": false,
                                "data": null,
                                "defaultContent": ''
                            },
                            {
                                "className": 'details-control4',
                                "orderable": false,
                                "data": null,
                                "defaultContent": ''
                            },
                            { "data": "CoversheetID" },
                            { "data": "CoversheetID" },
                            { "data": "CoversheetNumber" },
                            { "data": "CoversheetTier" },
                            { "data": "BPSProductID" },
                            { "data": "ServiceNumber" },
                            { "data": "GuideCard" },
                            { "data": "LocationOfManuscript" },
                            { "data": "FurtherInstruction" },
                            { "data": "CurrentTask" },
                            { "data": "TaskStatus" },
                            { "data": "TargetPressDate" },
                            { "data": "ActualPressDate" },
                            { "data": "CodingDueDate" },
                            { "data": "CodingStartDate" },
                            { "data": "CodingDoneDate" },
                            { "data": "OnlineDueDate" },
                            { "data": "OnlineStartDate" },
                            { "data": "OnlineDoneDate" },
                            { "data": "OnlineTimeliness" },
                            { "data": "ReasonIfLate" },
                            { "data": "JobOwner" }
                        ],
                        columnDefs: [
                            { "className": "dt-center", "targets": "_all" },
                            {
                                targets: [2],
                                searchable: false,
                                orderable: false,
                                render: function (rowData) {
                                    return '<input type="checkbox" style="cursor: pointer" name="' + data['JobCoversheetID'] + '_checkbox" value="' + rowData + '" />';
                                }
                            },
                            {
                                targets: [12, 13, 14, 15, 16, 17, 18, 19],
                                render: function (rowData) {
                                    return moment(rowData).format('YYYY/MM/DD');
                                }
                            }
                        ],
                        buttons: {
                            dom: {
                                button: {
                                    tag: 'i',
                                    className: ''
                                }
                            },
                            buttons: [
                                {
                                    titleAttr: 'Create STP',
                                    extend: '',
                                    className: 'custom-btn fa fa-tasks',
                                    text: ' Create STP&nbsp;&nbsp;',
                                    action: function () {

                                        //get all selected ids
                                        let coversheetids = [];
                                        $(childTableCoversheet.$('input[name="' + data['JobCoversheetID'] + '_checkbox"]:checked').each(function () {
                                            coversheetids.push($(this).val());
                                        }));

                                        //console.log('coversheetids: ', coversheetids);

                                        if (coversheetids.length > 0) {
                                            let obj = {
                                                coversheetids: coversheetids.join(','),
                                                bpsproductid: data['BPSProductID'],
                                                serviceno: data['ServiceNumber'],
                                                userAccessType: 4   // CodingTL
                                            };

                                            GotoControllerAsync('/CodingSTP/_AddNewSTPView', 'POST', obj, false, 'html', function (response) {
                                                $('#modalWrapper').html(response);
                                                $('#modal-stp').modal('show');
                                            });
                                        }
                                        else
                                            alert('No selected coversheet data.');
                                    },
                                    enabled: true
                                },
                                {
                                    titleAttr: 'Copy',
                                    extend: 'copyHtml5',
                                    className: 'custom-btn fa fa-clipboard',
                                    text: ''
                                },
                                {
                                    titleAttr: 'Download as Excel',
                                    extend: 'excelHtml5',
                                    className: 'custom-btn fa fa-file-excel-o',
                                    text: ''
                                },
                                {
                                    titleAttr: 'Download as CSV',
                                    extend: 'csvHtml5',
                                    className: 'custom-btn fa fa-file-text-o',
                                    text: ''
                                },
                                {
                                    titleAttr: 'Download as PDF',
                                    extend: 'pdfHtml5',
                                    className: 'custom-btn fa fa-file-pdf-o',
                                    text: ''
                                }

                            ]
                        },
                        initComplete: function (settings, json) {
                            // Apply the search
                            //init = false;
                            //scrollx initiator
                            $('#childTableCoversheet' + index).wrap("<div style='overflow: auto; width: 100%; position: relative;'></div>");
                            this.api().columns().every(function () {
                                var that = this;
                                $('input', this.footer()).on('keyup change clear', function () {
                                    if (that.search() !== this.value) {
                                        that.search(this.value).draw();
                                    }
                                });
                            });
                        },
                        destroy: true
                    });
                    tr.addClass('shown');
                }

                // info icon
                $('.child_table2 tbody').on('click', 'td.details-control3', function () {
                    let c_tr = $(this).closest('tr');
                    let c_row = childTableCoversheet.row(c_tr);
                    let rowData = c_row.data();
                    let dataNew = childTableCoversheet.row(this).data();

                    GotoControllerAsync('/Coversheet/_EditCoversheetCodingTLView', 'POST', { id: dataNew['CoversheetID'] }, false, 'html', function (response) {
                        $('#modalWrapper2').html(response);
                        $('#modal-coversheet').modal('show');
                    });
                });

                // query icon
                $('.child_table2 tbody').on('click', 'td.details-control4', function () {
                    let c_tr = $(this).closest('tr');
                    let c_row = childTableCoversheet.row(c_tr);
                    let rowData = c_row.data();
                    let dataNew = childTableCoversheet.row(this).data();

                    window.location.href = "/QueryCoversheet/Index?id=" + dataNew['CoversheetID'] + "&u=" + @((int)JobTrack.Models.Enums.UserAccessEnum.Coding_TL);
                });
            });
        }

        function generateChildRowForCoversheet(index) {
            return '<table class="child_table2 display nowrap" id="childTableCoversheet' + index + '" cellpadding="5" cellspacing="0" border="0" style="width: 100%">' +
                '<thead><tr>' +
                '<th></th>' +
                '<th></th>' +
                '<th></th>' +
                '<th>CoversheetID</th>' +
                '<th>Coversheet Number</th>' +
                '<th>Tier</th>' +
                '<th>Product</th>' +
                '<th>Service Number</th>' +
                '<th>Guide Card(s)</th>' +
                '<th>Location Of Manuscript</th>' +
                '<th>Further Instructions</th>' +
                '<th>Current Task</th>' +
                '<th>Status</th>' +
                '<th>Target Press Date</th>' +
                '<th>Actual Press Date</th>' +
                '<th>Coding Due Date</th>' +
                '<th>Coding Start</th>' +
                '<th>Coding Done</th>' +
                '<th>Online Due Date</th>' +
                '<th>Online Start</th>' +
                '<th>Online Done</th>' +
                '<th>Online Timeliness</th>' +
                '<th>Remarks</th>' +
                '<th>Job Owner</th>' +
                '</tr></thead>' +

                // footer
                '<tfoot><tr>' +
                '<th></th>' +
                '<th></th>' +
                '<th></th>' +
                '<th>CoversheetID</th>' +
                '<th>Coversheet Number</th>' +
                '<th>Tier</th>' +
                '<th>Product</th>' +
                '<th>Service Number</th>' +
                '<th>Guide Card(s)</th>' +
                '<th>Location Of Manuscript</th>' +
                '<th>Further Instructions</th>' +
                '<th>Current Task</th>' +
                '<th>Status</th>' +
                '<th>Target Press Date</th>' +
                '<th>Actual Press Date</th>' +
                '<th>Coding Due Date</th>' +
                '<th>Coding Start</th>' +
                '<th>Coding Done</th>' +
                '<th>Online Due Date</th>' +
                '<th>Online Start</th>' +
                '<th>Online Done</th>' +
                '<th>Online Timeliness</th>' +
                '<th>Remarks</th>' +
                '<th>Job Owner</th>' +
                '</tr></tfoot>' +
                '</table>';
        }
    </script>
}