@model JobTrack.Models.Coversheet.CoversheetData

<div class="modal fade" id="modal-coversheet" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#009688;color:white">
                <h6 class="modal-title" id="confirmModalLabel">Coding Workbench</h6>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="height: calc(100vh - 190px); overflow-x: auto">
                <div class="alert alert-danger fade show" id="ErrorMessage">
                    <span>Required fields are missing.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="formCoversheet">
                    <center><h6>COVERSHEET DETAILS</h6></center>

                    <div class="row mb-2">
                        <div class="col-md">
                            @if (Model.PDFQCDoneDate.HasValue)
                            {
                                <div class="row mb-3">
                                    <div class="col-md">
                                        <button type="button" class="btn btn-success" onclick="onclickProceed();"><i class="fa fa-check-square"></i> &nbsp; Proceed to online</button> &nbsp;
                                        <button type="button" class="btn btn-success" onclick="onclickSubsequent();"><i class="fa fas fa-plus-square"></i> &nbsp; Subsequent Pass</button>
                                    </div>
                                </div>
                            }

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Coversheet Number", Name = "CoversheetNumber", Value = Model.CoversheetNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Tier", Name = "CoversheetTier", Value = Model.CoversheetTier, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Service Number", Name = "ServiceNumber", Value = Model.ServiceNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Task Number", Name = "TaskNumber", Value = Model.TaskNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Product ID", Name = "BPSProductID", Value = Model.BPSProductID, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Editor", Name = "Editor", Value = Model.Editor, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Charge Code", Name = "ChargeCode", Value = Model.ChargeCode, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Task Type", Name = "TaskType", Value = Model.TaskType, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Manuscript/Legislation/Further Instructions", Name = "LocationOfManuscript", Value = Model.LocationOfManuscript, IsRequired = true })
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Guide Card", Name = "GuideCard", Value = Model.GuideCard, IsRequired = true })

                            @if (TempData["UpdateTypes"] != null)
                            {
                                @Html.Partial("CustomControls/_DropdownListView", new JobTrack.Models.FormFieldModel { Label = "Update Types", Name = "UpdateTypes", TempDataName = "UpdateTypes", IsReadOnly = true })
                            }

                            <div class="form-group">
                                <div class="col-sm-12 checkbox-wrapper border" style="padding-top: 5px">
                                    <center><h6>GENERAL</h6></center>

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralLegRefCheck", Label = "Leg Ref Check", Value = Model.GeneralLegRefCheck })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralTOC", Label = "TOC", Value = Model.GeneralTOC })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralFascicleInsertion", Label = "Fascicle Insertion", Value = Model.GeneralFascicleInsertion })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralGraphicEmbed", Label = "Graphic-Embed", Value = Model.GeneralGraphicEmbed })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralNonContent", Label = "Non-Content", Value = Model.GeneralNonContent })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralComplexTask", Label = "Complex Task", Value = Model.GeneralComplexTask })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralTOS", Label = "TOS", Value = Model.GeneralTOS })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralReprints", Label = "Reprints", Value = Model.GeneralReprints })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralGraphicLink", Label = "Graphic-Link", Value = Model.GeneralGraphicLink, DontDisplay = true })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralHandtooling", Label = "Handtooling", Value = Model.GeneralHandtooling })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GeneralSamplePages", Label = "Sample Pages", Value = Model.GeneralSamplePages })
                                </div>
                            </div>

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Target Press Date", Name = "TargetPressDate", Value = Model.TargetPressDate, IsReadOnly = true })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Further Instructions", Name = "FurtherInstruction", Value = Model.FurtherInstruction, Rows = 5, IsRequired = true })
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md">
                            <center><h6>TASK DETAILS</h6></center>

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Status", Name = "TaskStatus", Value = Model.TaskStatus, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Actual Press Date", Name = "ActualPressDate", Value = Model.ActualPressDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Revised Online Due Date", Name = "RevisedOnlineDueDate", Value = Model.RevisedOnlineDueDate, Class = "datepicker", IsRequired = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Accepted Date", Name = "AcceptedDate", Value = Model.AcceptedDate, IsReadOnly = true })

                            @if (TempData["JobOwners"] != null)
                            {
                                @Html.Partial("CustomControls/_DropdownListView", new JobTrack.Models.FormFieldModel { Label = "Job Owner", Name = "JobOwnerID", TempDataName = "JobOwners", IsReadOnly = true })
                            }

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Current Task", Name = "CurrentTask", Value = Model.CurrentTask, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Update Email CC", Name = "UpdateEmailCC", Value = Model.UpdateEmailCC, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Online Timeliness", Name = "OnlineTimeliness", Value = Model.OnlineTimeliness, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Remarks", Name = "Remarks", Value = Model.Remarks, IsReadOnly = false, IsRequired = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Date Created", Name = "DateCreated", Value = Model.DateCreated, IsReadOnly = true })
                        </div>

                        <div class="col-md">
                            <center><h6>XML EDITING</h6></center>

                            @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "XML Editing ", Name = "IsXMLEditing", Value = Model.IsXMLEditing }) <br />

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Coding - Due Date", Name = "CodingDueDate", Value = Model.CodingDueDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Coding - Start Date", Name = "CodingStartDate", Value = Model.CodingStartDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Coding - Done Date", Name = "CodingDoneDate", Value = Model.CodingDoneDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Sub Task", Name = "SubTask", Value = Model.SubTask, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "PDF QC - Start Date", Name = "PDFQCStartDate", Value = Model.PDFQCStartDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "PDF QC - Done Date", Name = "PDFQCDoneDate", Value = Model.PDFQCDoneDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Completion Email Template", Name = "CompletionEmailTemplate", Value = Model.CompletionEmailTemplate, IsReadOnly = true })
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md">
                            <center><h6>ONLINE</h6></center>

                            @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "Online", Name = "IsOnline", Value = Model.IsOnline }) <br />

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Online - Due Date", Name = "OnlineDueDate", Value = Model.OnlineDueDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Online - Start Date", Name = "OnlineStartDate", Value = Model.OnlineStartDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Online - Done Date", Name = "OnlineDoneDate", Value = Model.OnlineDoneDate, IsReadOnly = true })
                        </div>
                    </div>

                    <input type="hidden" name="CoversheetID" value="@Model.CoversheetID" />
                    <input type="hidden" name="ManuscriptID" value="@Model.ManuscriptID" />
                    <input type="hidden" name="UserAccess" value="@((int)JobTrack.Models.Enums.UserAccessEnum.Straive_PE)" />
                    <input type="hidden" name="JobOwner" value="@Model.JobOwner" id="JobOwner" />
                    <textarea name="SubsequentPass" id="Subsequent" hidden></textarea>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="onclickSubmit();" id="btnSave">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- modal for subsequent -->
<div id="modal-container"></div>

<script>
    $(document).ready(function () {
        setupDefaultForm();

        $('#JobOwners').on('change', function () {
            let url = '@Url.Action("GetUserData", "Coversheet")' + "?selectedItem=" + encodeURIComponent($(this).val());

            GotoControllerAsync(url, 'POST', null, false, 'json', function (response) {
                let emailAddress = response.EmailAddress;
                let userName = response.UserName;

                $('#UpdateEmailCC').val(emailAddress.replace(/['"]+/g, ''));
                $('#JobOwner').val(userName.replace(/['"]+/g, ''));
            });
        });
    });

    function onclickSubmit() {
        let isValid = validateForm('formCoversheet');
        if (isValid) {
            submitForm('formCoversheet', '/Coversheet/EditCoversheetData'
                , null
                , function (response) {

                if (response.IsSuccess) {
                    window.location.reload();
                }
                else
                    alert("Error: " + response.ErrorMessage);
            });
        }
    }

    function onclickSubsequent() {
        let val = $('#Subsequent').val();

        GotoControllerAsync('/Coversheet/_SubsequentView', 'POST', { SubsequentPass: val }, false, 'html', function (response) {
            $('#modal-container').html(response);
            $('#modal-subsequent').modal('show');
        });
    }

    function onclickProceed() {
        GotoControllerAsync('/Coversheet/_ProceedToOnlineView', 'POST', null, false, 'html', function (response) {
            $('#modal-container').html(response);
            $('#modal-proceedonline').modal('show');
        });
    }
</script>