@model JobTrack.Models.Coversheet.CoversheetData

<div class="modal fade" id="modal-coversheet" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#009688;color:white">
                <h6 class="modal-title" id="confirmModalLabel">Coding Workbench</h6>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="alert alert-danger fade show" id="ErrorMessage">
                    <span>Required fields are missing.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="formCoversheet">
                    <center><h6>COVERSHEET DETAILS</h6></center>

                    <div class="row">
                        <div class="col-md">
                            <div class="row mb-3">
                                <div class="col-md">
                                    <button type="button" class="btn btn-success"><i class="fa fa-check-square"></i> &nbsp; Proceed to online</button> &nbsp;
                                    <button type="button" class="btn btn-success"><i class="fa fas fa-plus-square"></i> &nbsp; Subsequent Pass</button>
                                </div>
                            </div>

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Coversheet Number", Name = "CoversheetNumber", Value = Model.CoversheetNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Tier", Name = "CoversheetTier", Value = Model.CoversheetTier, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Service Number", Name = "ServiceNumber", Value = Model.ServiceNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Task Number", Name = "TaskNumber", Value = Model.TaskNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Product ID", Name = "BPSProductID", Value = Model.BPSProductID, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Editor", Name = "Editor", Value = Model.Editor, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Charge Code", Name = "ChargeCode", Value = Model.ChargeCode, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Task Type", Name = "TaskType", Value = Model.TaskType, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Legislation/Further Instructions", Name = "FurtherInstructions", Value = Model.FurtherInstructions, IsRequired = true })
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Guide Card", Name = "GuideCard", Value = Model.GuideCard, IsRequired = true })

                            @if (TempData["UpdateTypes"] != null)
                            {
                                @Html.Partial("CustomControls/_DropdownListView", new JobTrack.Models.FormFieldModel { Label = "Update Types", Name = "UpdateTypes", TempDataName = "UpdateTypes", IsReadOnly = true })
                            }

                            <div class="form-group">
                                <div class="col-sm-12 checkbox-wrapper border" style="padding-top: 5px">
                                    <center><h6>GENERAL</h6></center>

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "LegRefCheck", Label = "Leg Ref Check", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "TOC", Label = "TOC", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "FascicleInsertion", Label = "Fascicle Insertion", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GraphicEmbed", Label = "Graphic-Embed", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "NonContent", Label = "Non-Content", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "ComplexTask", Label = "Complex Task", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "TOC", Label = "TOC", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "Reprints", Label = "Reprints", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "GraphicLink", Label = "Graphic-Link", Value = false, DontDisplay = true })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "Handtooling", Label = "Handtooling", Value = false })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "SamplePages", Label = "Sample Pages", Value = false })
                                </div>
                            </div>

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Target Press Date", Name = "TargetPressDate", Value = Model.TargetPressDate, IsReadOnly = true })
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md">
                            <center><h6>TASK DETAILS</h6></center>

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Status", Name = "TaskStatus", Value = Model.TaskStatus, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Actual Press Date", Name = "ActualPressDate", Date = Model.ActualPressDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Revised Online Due Date", Name = "RevisedOnlineDueDate", Date = Model.RevisedOnlineDueDate })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Accepted Date", Name = "AcceptedDate", Date = Model.AcceptedDate, IsReadOnly = true })

                            @if (TempData["JobOwners"] != null)
                            {
                                @Html.Partial("CustomControls/_DropdownListView", new JobTrack.Models.FormFieldModel { Label = "Job Owner", Name = "JobOwners", TempDataName = "JobOwners", IsReadOnly = true })
                            }

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Current Task", Name = "CurrentTask", Value = Model.CurrentTask, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Update Email CC", Name = "UpdateEmailCC", Value = Model.UpdateEmailCC, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Online Timeliness", Name = "OnlineTimeliness", Value = Model.OnlineTimeliness, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Remarks", Name = "Remarks", Value = Model.Remarks, IsReadOnly = false, IsRequired = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Date Created", Name = "DateCreated", Value = Model.DateCreated, IsReadOnly = true })
                        </div>

                        <div class="col-md">
                            <center><h6>XML EDITING</h6></center>

                            @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "XML Editing ", Name = "IsXMLEditing", Value = Model.IsXMLEditing }) <br />

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Coding - Due Date", Name = "CodingDueDate", Date = Model.CodingDueDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Coding - Start Date", Name = "CodingStartDate", Date = Model.CodingStartDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Coding - Done Date", Name = "CodingDoneDate", Date = Model.CodingDoneDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Sub Task", Name = "SubTask", Value = Model.SubTask, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "PDF QC - Start Date", Name = "PDFQCStartDate", Date = Model.PDFQCStartDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "PDF QC - Done Date", Name = "PDFQCDoneDate", Date = Model.PDFQCDoneDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Completion Email Template", Name = "CompletionEmailTemplate", Value = Model.CompletionEmailTemplate, IsReadOnly = true })
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md">
                            <center><h6>ONLINE</h6></center>

                            @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "Online", Name = "IsOnline", Value = Model.IsOnline }) <br />

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Online - Due Date", Name = "OnlineDueDate", Date = Model.OnlineDueDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Online - Start Date", Name = "OnlineStartDate", Date = Model.OnlineStartDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Online - Done Date", Name = "OnlineDoneDate", Date = Model.OnlineDoneDate, IsReadOnly = true })
                        </div>
                    </div>

                    <input type="hidden" name="CoversheetID" value="@Model.CoversheetID" />
                    <input type="hidden" name="ManuscriptID" value="@Model.ManuscriptID" />
                    <input type="hidden" name="UserAccess" value="@((int)JobTrack.Models.Enums.UserAccessEnum.Client_LE)" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="onclickSubmit();" id="btnSave">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setupDefaultForm();

        $('#JobOwners').on('change', function () {
            let url = '@Url.Action("GetEmployeeEmail", "Coversheet")' + "?selectedItem=" + encodeURIComponent($(this).val());

            GotoControllerAsync(url, 'POST', null, false, 'json', function (response) {
                $('#UpdateEmailCC').val(response.replace(/['"]+/g, ''));
            });
        });
    });

    function onclickSubmit() {
        let isValid = validateForm('formCoversheet');
        if (isValid) {
            submitForm('formCoversheet', '/Coversheet/EditCoversheetData'
                , null
                , function (response) {

                if (response.IsSuccess) {

                }
                else
                    alert("Error: " + response.ErrorMessage);
            });
        }
    }
</script>