
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="formEmployee">
                    <p class="divider-text">
                        <span class="bg-light">Employee Details</span>
                    </p>

                    @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "First Name", Name = "FirstName", Value = null })

                    @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Last Name", Name = "LastName", Value = null })

                    @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Email Address", Name = "EmailAddress", Value = null })

                    <p class="divider-text">
                        <span class="bg-light">Account Details</span>
                    </p>

                    <div class="form-group">
                        <label for="ddUserAccess">User Access</label>
                        <select id="ddUserAccess" name="UserAccess" class="form-control" required>
                        </select>
                        <div class="invalid-feedback">
                            Please select access type
                        </div>
                    </div>

                    @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "User Name", Name = "UserName", Value = null })

                    <p class="divider-text">
                        <span class="bg-light">Additional Access</span>
                    </p>

                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "Manager", Name = "isManager", Value = false })

                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "Editorial Contact", Name = "isEditorialContact", Value = false })

                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "Email List", Name = "isEmailList", Value = false })

                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "Mandatory Receipient", Name = "isMandatoryRecepient", Value = false })

                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Label = "Show User", Name = "isShowUser", Value = false })
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="onclickEmployeeSubmit();" id="btnEmployeeSubmit">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function onclickEmployeeSubmit() {
        // form data
        let formDataToSubmit = new FormData();
        let formData = $('#formEmployee').serializeArray();
        $(formData).each(function (index, obj) {

            // if value is "on" set to "1"
            formDataToSubmit.append(obj.name, obj.value == "on" ? 1 : obj.value);
        });

        //process data to api
        $.ajax({
            type: 'POST',
            url: '/Admin/UpdateEmployee',
            data: formDataToSubmit,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {

                if (response.IsSuccess) {
                    alert('Successfully added.');
                    window.location.reload();
                }
                else
                    alert('Error update.');
            }
        });
    }
</script>
