@model JobTrack.Models.QuerySTP.STPDataModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <script src="https://cdn.ckeditor.com/4.15.1/standard-all/ckeditor.js"></script>
    <title>Query Coversheet</title>
    <style>
        .form-group label {
            font-weight: 800;
        }
    </style>
</head>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-2 col-10">

                <!-- /.card-header -->
                <!-- /.card-header -->
                <div class="card-body">
                    <div style="margin-top: 55px"></div>

                    <form id="formSTPIndex" enctype="multipart/form-data">
                        <div class="row" style="font-size: 12px">
                            <div class="col-md">
                                <div class="form-group">
                                    <label>STP Number</label>
                                    <input type="text" class="form-control" value="@Model.STPNo" readonly />
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="form-group">
                                    <label>Tier</label>
                                    <input type="text" class="form-control" value="@Model.Tier" readonly />
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="form-group">
                                    <label>Product</label>
                                    <input type="text" class="form-control" value="@Model.Product" readonly />
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="form-group">
                                    <label>Service Number</label>
                                    <input type="text" class="form-control" value="@Model.ServiceNumber" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row" style="font-size: 12px">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Current Task</label>
                                    <input type="text" class="form-control" value="@Model.CurrentTask" readonly />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Send to Print Status</label>
                                    <input type="text" class="form-control" value="@Model.SendToPrintStatus" readonly />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Topic title</label>
                                    <select class="form-control" name="STPTopicID" id="STPTopicID" required>
                                        <option value="1">Topic 1</option>
                                        <option value="2">Topic 2</option>
                                        <option value="3">Topic 3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Query type</label>
                                    <select class="form-control" name="STPTypeID" id="STPTypeID" required>
                                        <option value="1">General</option>
                                        <option value="2">XML Tagging</option>
                                        <option value="3">Format</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- message -->
                        <div class="row" style="font-size: 12px; padding-bottom: 0; margin-bottom: 0">
                            <div class="col-md">
                                <div class="form-group" style="margin-bottom: 0">
                                    <label>Message</label>
                                    <div>
                                        <textarea rows="3" name="Message" style="padding: 5px; width: 100%; border: 1px solid #ccc"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- file upload -->
                        <div class="row mb-2" style="font-size: 12px">
                            <div class="col-md">
                                <input type="file" class="form-control" style="font-size: 12px" name="FileToUpload" id="FileToUpload" />
                            </div>
                        </div>

                        <!-- hidden -->
                        <input type="hidden" name="StpID" value="@ViewBag.StpID" />
                        <input type="hidden" name="STPStatusID" value="1" />
                    </form>

                    <!-- add new -->
                    <button type="button" class="btn btn-primary" onclick="onclickAdd()">
                        <i class='fa fa-plus-square'></i> &nbsp;
                        Add New
                    </button>

                    <select class="form-control" style="float: right; width: 200px" onchange="onchangeFilter()" id="filterDropdown">
                        <option value="0">All</option>
                        <option value="1">Open</option>
                        <option value="2">Cancelled</option>
                        <option value="3">Closed</option>
                        <option value="4">Replied by Client</option>
                        <option value="5">Replied by Straive</option>
                    </select>


                    <!-- query table -->
                    <table class="table table-bordered table-striped" id="stpTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>STP ID</th>
                                <th>Status</th>
                                <th>Topic Title</th>
                                <th>Query Type</th>
                                <th>Date Posted</th>
                                <th>Replied By</th>
                                <th>Posted By</th>
                                <th style="width: 145px !important">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
                <!-- /.card-body -->

                <button type="button" class="btn btn-link" onclick="location.href='/CodingSTP/MainForm'">< Go Back</button>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>

    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
</html>

<script>
    $(document).ready(function () {
        getTableData('stpTable');
    });

    function getTableData(tableId) {
        $('#' + tableId).DataTable({
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            searching: true,
            responsive: true,
            //serverSide: true,
            autoWidth: false,
            paging: true,
            bFilter: true,
            bSort: true,
            bPaginate: true,
            dom: 'Bfrtip',
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],

            ajax: {
                url: '/QuerySTP/GetQuerySTP',
                type: 'POST',
                dataType: 'json',
                data: function (d) {
                    d.stpId = @ViewBag.StpID ;
                    d.filterBy = $('#filterDropdown').val();
                },
                dataSrc: function (data) {
                    return data.Collection;
                }
            },
            //order: [[0, 'asc']],
            columns: [
                { data: 'ID' },
                { data: 'StpID' },
                { data: 'STPStatus' },
                { data: 'STPTopicTitle' },
                { data: 'STPType' },
                { data: 'DateText' },
                { data: 'RepliedBy' },
                { data: 'PostedBy' },
                { data: 'ID' }
            ],
            columnDefs: [
                {
                    targets: [2],
                    render: function (data, type, row, meta) {

                        // if status is not open, add color code
                        if (data != 'Open') {

                            let color = data == 'Cancelled' ? 'orange' : 'green';
                            return '<div style="padding: 6px; background-color: ' + color + '; color: white; width: 100px; border-radius: 5px; font-weight: 600">' + data + '</div>';
                        }
                        else
                            return data;
                    }
                },
                {
                    targets: [6],
                    render: function (data, type, row, meta) {

                        // if repliedBy is not admin, add color code
                        if (data != 'admin') {

                            let color = data == 'client' ? 'orange' : 'green';
                            return '<div style="padding: 6px; background-color: ' + color + '; color: white; border-radius: 5px; font-weight: 600">' + data + '</div>';
                        }
                        else
                            return data;
                    }
                },
                {
                    targets: [8],
                    render: function (data, type, row, meta) {
                        return ''
                            // + '<button type="button" class="btn btn-info" onclick="onclickUpdate(' + data + ')">Update</button> &nbsp;'
                            + '<button type="button" class="btn btn-info" onclick="onclickView(' + data + ')">View</button> &nbsp;'
                            // + '<button type="button" class="btn btn-danger" onclick="onclickDelete(' + data + ')">Delete</button> &nbsp;'
                            + '<button type="button" class="btn btn-success" onclick="onclickReply(' + data + ')">Reply</button>';
                    }
                }
            ]
        });
    }

    function onclickAdd() {
        let isAdd = confirm("Are you sure you want to Post this Query?");
        if (isAdd) {
            // append file input
            let formDataToSubmit = new FormData();
            formDataToSubmit.append("FileToUpload", $("#FileToUpload")[0].files[0]);

            // append other input data
            let formData = $('#formSTPIndex').serializeArray();
            $(formData).each(function (index, obj) {
                formDataToSubmit.append(obj.name, obj.value);
            });

            // process data to api
            $.ajax({
                type: 'POST',
                url: '/QuerySTP/UpdateQuerySTP',
                data: formDataToSubmit,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response.IsSuccess) {
                        alert('Successfully added.');
                        window.location.reload();
                    }
                    else
                        alert('Error update.');
                }
            });
        }
    }

    function onclickView(rowID) {
        location.href = '/QuerySTP/Reply?id=' + @Model.ID + '&queryid=' + rowID + '&v=' + true;
    }

    function onclickReply(rowID) {
        location.href = '/QuerySTP/Reply?id=' + @Model.ID + '&queryid=' + rowID + '&v=' + false;
    }

    function onchangeFilter() {
        $('#stpTable').DataTable().ajax.reload();
    }
</script>