@model JobTrack.Models.FormFieldModel

<div class="form-check mb-1" style="display: @(Model.DontDisplay ? "none" : "block")">
    <input class="form-check-input" 
           type="checkbox" 
           id="@Model.Name"
           name="@Model.Name"
           onclick="@(Model.IsReadOnly ? "return false;": "")"
           @((bool)Model.Value ? "checked" : "") />

    <label class="form-check-label" for="@Model.Id">@Model.Label</label>
</div>

<script>
    $(document).ready(function () {
        $('#@Model.Name').attr('readonly', true);
    });
</script>