@model JobTrack.Models.FormFieldModel

<div class="form-group">
    @if (!string.IsNullOrEmpty(Model.Label)) 
    { 
        <label>@Model.Label</label>
    }

    <textarea class="form-control" 
              rows="@Model.Rows" 
              id="@Model.Name" 
              name="@Model.Name" 
              onchange="removeRedError(this)"
              errorid="error-text-modal"
              @(Model.IsReadOnly ? "readonly" : "")
              @(Model.IsRequired ? "required" : "")>@Model.Value</textarea>
</div>