@model JobTrack.Models.Manuscript.ManuscriptData
@using JobTrack.Models.Enums

<div class="modal fade" id="modal-manuscriptdata" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header" style="background-color:#009688;color:white">
                <h6 class="modal-title" id="confirmModalLabel">Manuscript Workbench</h6>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- body -->
            <div class="modal-body" style="height: calc(100vh - 190px); overflow-x: auto">
                <div class="alert alert-danger fade show" id="ErrorMessage">
                    <span>Required fields are missing.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="formManuscriptData">
                    <center><h6>MANUSCRIPT DETAILS</h6></center>
                    <div class="row">
                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Job Number", Name = "JobNumberText", Value = Model.JobNumberText, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Tier", Name = "ManuscriptTier", Value = Model.ManuscriptTier, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Product", Name = "BPSProductID", Value = Model.BPSProductID, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Service Number", Name = "ServiceNumber", Value = Model.ServiceNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Target Press Date", Name = "TargetPressDate", Value = Model.TargetPressDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Actual Press Date", Name = "ActualPressDate", Value = Model.ActualPressDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Manuscript/Leg Title", Name = "ManuscriptLegTitle", Value = Model.ManuscriptLegTitle, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Status", Name = "ManuscriptStatus", Value = Model.ManuscriptStatus, IsReadOnly = true })                            
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "LATUP Attribution", Name = "LatupAttribution", Value = Model.LatupAttribution })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Date Received from Author", Name = "DateReceivedFromAuthor", Value = Model.DateReceivedFromAuthor, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Date Created", Name = "DateCreated", Value = Model.DateCreated, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Date Created", Name = "DateCreated", Value = Model.DateCreated, IsReadOnly = true })

                            @Html.Partial("CustomControls/_DropdownListView", new JobTrack.Models.FormFieldModel { Label = "Update Types", Name = "UpdateType", TempDataName = "UpdateTypes" })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Task Type", Name = "TaskType", Value = Model.TaskType, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Guide Card", Name = "PEGuideCard", Value = Model.PEGuideCard, IsRequired = true })

                            @Html.Partial("CustomControls/_DateEditorView", new JobTrack.Models.FormFieldModel { Label = "Revised Online Due Date", Name = "RevisedOnlineDueDate", Value = Model.RevisedOnlineDueDate, Class = "datepicker", IsRequired = true })

                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Job Specific Instruction", Name = "JobSpecificInstruction", Value = Model.JobSpecificInstruction, IsReadOnly = true })
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_NumberFieldView", new JobTrack.Models.FormFieldModel { Label = "EST. Pages", Name = "EstimatedPages", Value = Model.EstimatedPages })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Actual TAT", Name = "ActualTurnAroundTime", Value = Model.ActualTurnAroundTime, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Online Timeliness", Name = "OnlineTimeliness", Value = Model.OnlineTimeliness, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextAreaView", new JobTrack.Models.FormFieldModel { Label = "Remarks", Name = "Remarks", Value = Model.Remarks, Rows = 5, IsRequired = true })
                        </div>
                    </div>

                    <hr />
                    <center><h6>STATUS</h6></center>
                    <div class="row">
                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "CopyEdit - Due Date", Name = "CopyEditDueDate", Value = Model.CopyEditDueDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldGroupView", new JobTrack.Models.FormFieldModel { Label = "CopyEdit - Start Date", Name = "CopyEditStartDate", Value = Model.CopyEditStartDate, ButtonText = "START", OnClickEvent = "onclickDate(this)", IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldGroupView", new JobTrack.Models.FormFieldModel { Label = "CopyEdit - Done Date", Name = "CopyEditDoneDate", Value = Model.CopyEditDoneDate, ButtonText = "DONE", OnClickEvent = "onclickDate(this)", IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "CopyEdit - Status", Name = "CopyEditStatus", Value = Model.CopyEditStatus, IsReadOnly = true })
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Coding - Due Date", Name = "CodingDueDate", Value = Model.CodingDueDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldGroupView", new JobTrack.Models.FormFieldModel { Label = "Coding - Start Date", Name = "CodingStartDate", Value = Model.CodingStartDate, ButtonText = "START", OnClickEvent = "onclickDate(this)", IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldGroupView", new JobTrack.Models.FormFieldModel { Label = "Coding - Done Date", Name = "CodingDoneDate", Value = Model.CodingDoneDate, ButtonText = "DONE", OnClickEvent = "onclickDate(this)", IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Coding - Status", Name = "CodingStatus", Value = Model.CodingStatus, IsReadOnly = true })
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Online - Due Date", Name = "OnlineDueDate", Value = Model.OnlineDueDate, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldGroupView", new JobTrack.Models.FormFieldModel { Label = "Online - Start Date", Name = "OnlineStartDate", Value = Model.OnlineStartDate, ButtonText = "START", OnClickEvent = "onclickDate(this)", IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldGroupView", new JobTrack.Models.FormFieldModel { Label = "Online - Done Date", Name = "OnlineDoneDate", Value = Model.OnlineDoneDate, ButtonText = "DONE", OnClickEvent = "onclickDate(this)", IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Online - Status", Name = "OnlineStatus", Value = Model.OnlineStatus, IsReadOnly = true })
                        </div>
                    </div>

                    <hr />
                    <center><h6>HISTORY TRAIL</h6></center>
                    <div class="row">
                        <div class="col-md" style="width: 100%; overflow-x: auto">
                            @Html.Partial("CustomControls/_HistoryTrailView", new JobTrack.Models.HistoryTrailModel { ID = Model.ManuscriptID, JobType = JobTypeEnum.ManuscriptData })
                        </div>
                    </div>

                    <input type="hidden" name="ManuscriptID" value="@Model.ManuscriptID" />
                </form>
            </div>

            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="onclickSubmitManuscriptData();" id="btnSave">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setupDefaultForm();

        let copyEditStartDateDisabled = '@Model.CopyEditStartDate.HasValue' == 'True';
        let copyEditDoneDateDisabled = '@Model.CopyEditDoneDate.HasValue' == 'True' || ('@Model.CopyEditStartDate.HasValue' == 'False' && '@Model.CopyEditDoneDate.HasValue' == 'False');
        let codingStartDateDisabled = '@Model.CodingStartDate.HasValue' == 'True';
        let codingDoneDateDisabled = '@Model.CodingDoneDate.HasValue' == 'True' || ('@Model.CodingStartDate.HasValue' == 'False' && '@Model.CodingDoneDate.HasValue' == 'False');
        let onlineStartDateDisabled = '@Model.OnlineStartDate.HasValue' == 'True';
        let onlineDoneDateDisabled = '@Model.OnlineDoneDate.HasValue' == 'True' || ('@Model.OnlineStartDate.HasValue' == 'False' && '@Model.OnlineDoneDate.HasValue' == 'False');

        $('#btnCopyEditStartDate').prop('disabled', copyEditStartDateDisabled);
        $('#btnCopyEditDoneDate').prop('disabled', copyEditDoneDateDisabled);
        $('#btnCodingStartDate').prop('disabled', codingStartDateDisabled);
        $('#btnCodingDoneDate').prop('disabled', codingDoneDateDisabled);
        $('#btnOnlineStartDate').prop('disabled', onlineStartDateDisabled);
        $('#btnOnlineDoneDate').prop('disabled', onlineDoneDateDisabled);

        $("#UpdateType").on("change", function () {
            var url = '@Url.Action("GetTaskType", "Manuscript")' + "?selectedItem=" + encodeURIComponent($(this).val());

            GotoControllerAsync(url, 'POST', null, false, 'json', function (response) {
                $('#TaskType').val(response.replace(/['"]+/g, ''));
            });
        });
    });

    function onclickSubmitManuscriptData() {
        let isValid = validateForm('formManuscriptData');
        if (isValid) {
            submitForm('formManuscriptData', '/Manuscript/UpdateManuscript', null, function (response) {

                if (response.IsSuccess) {

                    alert('Submit successful.');
                    setTimeout(function () {
                        window.location.reload();
                    });
                }
            });
        }
    }

    function onclickDate(e) {
        let inputId = e.id.replaceAll('btn', '');
        $('#' + inputId).val(new Date().toISOString().split('T')[0]);

        switch (inputId) {
            case 'CopyEditStartDate':
                $('#btnCopyEditDoneDate').prop('disabled', false); break

            case 'CodingStartDate':
                $('#btnCodingDoneDate').prop('disabled', false); break

            case 'OnlineStartDate':
                $('#btnOnlineDoneDate').prop('disabled', false); break
        }

        $('#' + e.id).prop('disabled', true);
    }
</script>