@model JobTrack.Models.QuerySTP.STPDataModel

<div class="modal fade" id="modal-stp" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#009688;color:white">
                <h5 class="modal-title" id="confirmModalLabel">Add New STP</h5>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="formSTP">
                    <div class="row">
                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Send to Print Number", Name = "SendToPrintNumber", Value = Model.SendToPrintNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Tier", Name = "SendToPrintTier", Value = Model.SendToPrintTier, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Product ID", Name = "BPSProductID", Value = Model.BPSProductID, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Service Number", Name = "ServiceNumber", Value = Model.ServiceNumber, IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Path of input files", Name = "PathOfInputFiles", Value = Model.PathOfInputFiles })

                            @Html.Partial("CustomControls/_TextareaView", new JobTrack.Models.FormFieldModel { Label = "Special Instructions", Name = "SpecialInstruction", Value = Model.SpecialInstruction })
                        </div>

                        <div class="col-md">
                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Target Press Date", Name = "TargetPressDate", Value = Model.TargetPressDate.Value.ToString("yyyy-MM-dd"), IsReadOnly = true })

                            @Html.Partial("CustomControls/_TextFieldView", new JobTrack.Models.FormFieldModel { Label = "Date Created", Name = "DateCreated", Value = Model.DateCreated.Value.ToString("yyyy-MM-dd"), IsReadOnly = true })

                            <div class="form-group">
                                <div class="col-sm-12 checkbox-wrapper border" style="padding-top: 5px">
                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "IsConsoHighlight", Label = "Conso Highlight", Value = Model.IsConsoHighlight })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "IsFilingInstruction", Label = "Filing Instruction", Value = Model.IsFilingInstruction })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "IsDummyFiling1", Label = "Dummy Filing 1", Value = Model.IsDummyFiling1 })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "IsDummyFiling2", Label = "Dummy Filing 2", Value = Model.IsDummyFiling2 })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "IsUECJ", Label = "UECJ", Value = Model.IsUECJ })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "IsPC1PC2", Label = "PC1/PC2", Value = Model.IsPC1PC2 })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "IsReadyToPrint", Label = "Ready to Print", Value = Model.IsReadyToPrint })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "IsSendingFinalPages", Label = "Sending final pages to puddingburn", Value = Model.IsSendingFinalPages })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "IsPostBack", Label = "Posting back stable data", Value = Model.IsPostBack })

                                    @Html.Partial("CustomControls/_CheckboxView", new JobTrack.Models.FormFieldModel { Name = "IsUpdateEBinder", Label = "Updating of binder", Value = Model.IsUpdateEBinder })
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="ID" value="@Model.ID" />
                    <input type="hidden" name="CoversheetIDs" value="@Model.CoversheetIDs" />
                    <input type="hidden" name="CoversheetIDs" value="@Model.SendToPrintStatus" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="onclickSaveSTP();" id="btnSave">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function onclickSaveSTP() {
        submitForm('formSTP', '/CodingSTP/UpdateSTP', null, function (response) {
            //console.log('response: ', response);

            if (response.IsSuccess) {

                refreshTable('tblDataSTP');
                alert('Added successful.');
                $('#modal-stp').modal('hide');
                setTimeout(function () {
                    $('#btnNavProductSTP').click();
                }, 1000);
            }
            else
                alert("Error: " + response.ErrorMessage);
        });
    }
</script>